<div id="full">

  <div id="content">

  <div id="title">
    To-Do
  </div>

  <div id="body">

    <div id="inputarea"  class="input-group">
      <input type="text" id="input" class="form-control" placeholder="What you want to do?" [(ngModel)]="todo">
      <span class="input-group-btn"><button type="button" class="btn btn-danger" id="add" (click)="add()">Add</button></span>
    </div>


    <ul class="list-group">
        <li class="list-group-item" id="listitem" *ngFor="let item of todos;index as i">
            <span><i class="glyphicon glyphicon-remove" id="cross" (click)="remove(i)"></i></span>
          <span id="todo" *ngIf="!item.done">{{item.todo}}</span>
          <span id="donetodo" *ngIf="item.done">{{item.todo}}</span>
          <span><i class="glyphicon glyphicon-ok" id="ok" (click)="done(i)"></i></span>
        </li>
    </ul>
    
  </div>

</div>

</div>